<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @repaymet_type.description %>
</p>

<%= link_to 'Edit', edit_repaymet_type_path(@repaymet_type) %> |
<%= link_to 'Back', repaymet_types_path %>
