<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @commitment_type.description %>
</p>

<%= link_to 'Edit', edit_commitment_type_path(@commitment_type) %> |
<%= link_to 'Back', commitment_types_path %>
