<h1>Client Mobiles</h1>

<table class="responsive nowrap table table-hover" id="dttb-client_mobiles" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="client_id">Client</th>
      <th data-data="mobile_id">Mobile</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Client Mobile', new_client_mobile_path %>