<h1>Editing Leasing Contract Realty</h1>

<%= render 'form', leasing_contract_realty: @leasing_contract_realty %>

<%= link_to 'Show', @leasing_contract_realty %> |
<%= link_to 'Back', leasing_contract_realties_path %>
