- f.object = f.object.decorate
.form-group
	= f.label :kind, "Typ adresy"
	= f.select :kind, f.object.select_kind,{selected: f.object.object_kind},{class: "selectpicker form-control", "data-live-search" => "true"}
- f.object.build_address unless f.object.address
= f.fields_for :address do |f| 
	.row.form-group
		.form-group.col-xl-5.col-lg-5
			= f.label :street, "Ulice"
			= f.text_field :street, class: "form-control"
		.form-group.col-xl-5.col-lg-5
			= f.label :number , "Číslo"
			= f.text_field :number, class: "form-control" 
		.form-group.col-xl-5.col-lg-5
			= f.label :village, "Obec"
			= f.text_field :village, class: "form-control"
		.form-group.col-xl-5.col-lg-5
			= f.label :zip, "PSČ"
			= f.text_field :zip , class: "form-control"
		.form-group.col-xl-5.col-lg-5
			= f.label :district, "Okres"
			= f.text_field :district , class: "form-control District"
		.form-group.col-xl-5.col-lg-5
			= f.label :state, "Stát"
			= f.text_field :state , class: "form-control"
hr

javascript: 
	$( function() {
	    var availableDistrict = [
	    	"Benešov",
			"Beroun",
			"Blansko",
			"Břeclav",
			"Brno-město",
			"Brno-venkov",
			"Bruntál",
			"Česká Lípa",
			"České Budějovice",
			"Český Krumlov",
			"Cheb",
			"Chomutov",
			"Chrudim",
			"Děčín",
			"Domažlice",
			"Frýdek-Místek",
			"Havlíčkův Brod",
			"Hlavní město Praha",
			"Hodonín",
			"Hradec Králové",
			"Jablonec nad Nisou",
			"Jeseník",
			"Jičín",
			"Jihlava",
			"Jindřichův Hradec",
			"Karlovy Vary",
			"Karviná",
			"Kladno",
			"Klatovy",
			"Kolín",
			"Kroměříž",
			"Kutná Hora",
			"Liberec",
			"Litoměřice",
			"Louny",
			"Mělník",
			"Mladá Boleslav",
			"Most",
			"Náchod",
			"Nový Jičín",
			"Nymburk",
			"Olomouc",
			"Opava",
			"Ostrava-město",
			"Pardubice",
			"Pelhřimov",
			"Písek",
			"Plzeň-jih",
			"Plzeň-město",
			"Plzeň-sever",
			"Prachatice",
			"Praha-východ",
			"Praha-západ",
			"Přerov",
			"Příbram",
			"Prostějov",
			"Rakovník",
			"Rokycany",
			"Rychnov nad Kněžnou",
			"Semily",
			"Sokolov",
			"Strakonice",
			"Šumperk",
			"Svitavy",
			"Tábor",
			"Tachov",
			"Teplice",
			"Třebíč",
			"Trutnov",
			"Uherské Hradiště",
			"Ústí nad Labem",
			"Ústí nad Orlicí",
			"Vsetín",
			"Vyškov",
			"Žďár nad Sázavou",
			"Zlín",
			"Znojmo"

	    ];
	    $( ".District" ).autocomplete({
	      source: availableDistrict
	    });
	  } );