<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @reason_refusal_type.description %>
</p>

<%= link_to 'Edit', edit_reason_refusal_type_path(@reason_refusal_type) %> |
<%= link_to 'Back', reason_refusal_types_path %>
