<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @revision_type.description %>
</p>

<%= link_to 'Edit', edit_revision_type_path(@revision_type) %> |
<%= link_to 'Back', revision_types_path %>
