<h1>Payments</h1>

<table class="responsive nowrap table table-hover" id="dttb-payments" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="amount">Amount</th>
      <th data-data="payment_date">Payment date</th>
      <th data-data="leasing_contract_id">Leasing contract</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Payment', new_payment_path %>