.find_adress
	.form-group
		label Zadej adresu
		input type="text" value="" placeholder="zadejte hledanou adresu" class="finder form-control"
	.form-group
		= address.label :village, "Obec"
		= address.text_field :village, class: "form-control village input-sm",readonly: true
	.form-group
		= address.label :street, "Ulice"
		= address.text_field :street, class: "form-control street input-sm", readonly: true
	.form-group
		= address.label :number, "ČP/ČO"
		= address.text_field :number, class: "form-control number input-sm", readonly: true
	.form-group
		= address.label :zip, "PSČ"
		= address.text_field :zip, class: "form-control zip input-sm", readonly: true
	.form-group
		= address.label :district, "Okres"
		= address.text_field :district, class: "form-control district input-sm", readonly: true
	.form-group
		= address.label :region, "Kraj"
		= address.text_field :region, class: "form-control region input-sm", readonly: true


javascript: 
		$(document).on('turbolinks:load', function() {
			$(".finder").each(function(e) {
			find_address(this);
			});
		});
		$('#clients').on('cocoon:after-insert', function() {
			$(".finder").each(function(e) {
				find_address(this);
			});
		});
		$(document).on('cocoon:after-insert', function() {
			$(".finder").each(function(e) {
				find_address(this);
			});
		});
		find_address = function(e){
			var suggest = new SMap.Suggest(e);
			suggest.urlParams({
				// omezeni pro celou CR
				bounds: "48.5370786,12.0921668|51.0746358,18.8927040"
				});
			suggest.addListener("suggest", function(suggestData) {
				// vyber polozky z naseptavace
				locality = $(suggest._input.closest(".find_adress"))
				position = suggestData.position;
				data = JSON.parse(suggest._options.provider._responseData.data).result[position].userData;
				locality.find(".village").val(data.municipality);
				locality.find(".street").val(data.street);
				locality.find(".district").val(data.district);
				locality.find(".zip").val(data.zipCode);
				locality.find(".region").val(data.region);
				locality.find(".number").val(data.houseNumber + "/" + data.streetNumber);
				if (data.street == "") {
					locality.find(".street").val(data.municipality);
					};
			}).addListener("close", function() {
				console.log("suggest byl zavren/skryt");
			});
		};