.state_new {
	background-color: orange;
}
.state_eleboration{
  background-color: #CCCCFF;
}
.to_sign{
  background-color: #CCFFCC;
}
.contract{
  background-color: white;
}
.dowload{
  background-color: Silver;
}
.refuse{
  background-color: DarkGray;
}
.in_terrain{
  background-color: #ee82ee;
}
.returned{
  background-color: #C35817;
}


.pushase_price{
	text-align: right;
}

.entry {
	background-color: orange;
}
.actions {
	background-color: springgreen;
}

.debt {
	background-color: lightcoral;
}

.added {
	background-color: white;
}
.ended {
	background-color: white;
}

.paid {
	background-color: LightGreen;
}

.not_paid {
	background-color: white;
}


.pushase_price{
	text-align: right;
}