.state_new {
	background-color: orange;
}
.state_eleboration{
  background-color: #CCCCFF;
}
.to_sign{
  background-color: #CCFFCC;
}
.contract{
  background-color: white;
}
.dowload{
  background-color: Silver;
}
.refuse{
  background-color: DarkGray;
}